.container {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1em;
  border: 1px solid gray;
  border-radius: 0.25em;
  height: 200px;
  width: 200px;
  font-size: 0.75em;
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.price-box {
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}

.posted-on {
  font-size: 0.5em;
  color: gray;
}

.inline-price-box {
  border: 1px solid gray;
  border-radius: 5px;
}