
.cardContainer{
  display: flex;
  border: 2px solid grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 450px;
  width: 600px;
  background-color: white;
  border-radius: 3%;
  margin: 15px;
}
.pricing{
text-align: left;
border: 2px solid grey;
position:relative;
background-color: white;
}
img{
  width: 400px;
 max-height: 300px;
}
.bottom{
  margin: 15px;
}
.link{
 font-size: x-large;
 font-weight: 500;
}
a{
  margin: 5px 10px;;
}

.top{
  display: flex;
  align-items: center;
  justify-content: center;
}
.post{
  color: black;
  margin-right: 15px;
}

.bottomSpace{
  display: flex;
  align-items: center;
  justify-content: center;
}
