.pics{
  height:270px;
  width: 65%;
  margin-left: 50px;
}

.cardContainer{
  width: 1000px;
  margin: 45px auto;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  height: 330px;
  display:flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid grey;
  border-radius: 3px;
  margin: 10px 10px 5px 10px;
}

.card p {
  width: fit-content;
  border-radius: 5px;
  position: absolute;
  border: 2px solid grey;
  margin: 0;
}
.price{
  border: 1px solid grey;
  border-radius: 3px;
  width: fit-content;
  margin:0;
}
.date{
  font-size: small;
  color: white;
}
